<template name="truckImages">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Imagens do Truck
                <small></small>
            </h1>
        </section>

        <section class="content">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Inserir Mídia</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputFile"><i class="fa fa-image"></i> Fotos</label>
                            <input type="file" id="truckImgId">
                            <p class="help-block">Selecione as imagens para seu Truck</p>
                        </div>
                    </div><!-- /.box-body -->
                </form>
                <div class="container-fluid">
                    <div class="row">
                        {{#each truckImages}}
                            <div class="col-md-4 col-lg-4" style="height: 120px">
                                <img src="{{url}}"  style="max-height: 100px; max-width: 100px">
                                <button class="btn btn-primary" name="deleteImg" id="{{_id}}">
                                    <i class="fa fa-fw fa-trash-o"></i>Apagar
                                </button>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- START ACCORDION & CAROUSEL-->
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Imagens do Truck</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div id="truckCarousel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    {{#each truckImages}}
                                        {{#if @index != 0}}
                                            <li data-target="#truckCarousel" data-slide-to="{{@index}}" class=""></li>
                                        {{else}}
                                            <li data-target="#truckCarousel" data-slide-to="{{@index}}" class="active"></li>
                                        {{/if}}
                                    {{/each}}
                                </ol>
                                <div class="carousel-inner">
                                    {{#each truckImages}}
                                        {{#if @index != 0}}
                                            <div class="item" indexAux="{{@index}}">
                                                <img src="{{url}}" alt="">
                                                <div class="carousel-caption">
                                                    {{original.name}}
                                                </div>
                                            </div>
                                        {{else}}
                                            <div class="item active" indexAux="{{@index}}">
                                                <img src="{{url}}" alt="">
                                                <div class="carousel-caption">
                                                    {{original.name}}
                                                </div>
                                            </div>
                                        {{/if}}
                                    {{/each}}
                                </div>
                                <a class="left carousel-control" href="#truckCarousel" data-slide="prev">
                                    <span class="fa fa-angle-left"></span>
                                </a>
                                <a class="right carousel-control" href="#truckCarousel" data-slide="next">
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section>
    </div>
</template>