<template name="forgotPassword">
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <img src="/images/lemeat-logo-small-white.png"><br>for Truckers
            </div>
            <div class="login-box-body">
                <p class="login-box-msg">Insira seu e-mail para realizar o reset de senha</p>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email" id="truckEmail">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                    </div>
                    <div class="col-xs-6">
                        <button id="passwordReset" type="submit" class="btn btn-primary btn-block btn-flat">Resetar Senha</button>
                    </div>
                </div>
                <a href="{{pathFor route='login'}}">Login</a><br>
                <a href="{{pathFor route='register'}}" class="text-center">Registrar novo usuário</a>

            </div><!-- /.login-box-body -->
        </div><!-- /.login-box -->
    </body>
</template>
