<template name="login">
    <head>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    </head>
    <body class="hold-transition login-page" style="height:100vh">
        <div class="login-box">
            <div class="login-logo">
                <img src="/images/lemeat-logo-small-white.png"><br>for Truckers
            </div>
            <div class="login-box-body">
                <p class="login-box-msg">Logar para começar a sessão</p>
                <form>
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" placeholder="Email" name="truckEmail">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="Password" name="truckPassword">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">
                                <label>

                                </label>
                            </div>
                        </div><!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
                        </div><!-- /.col -->
                    </div>
                </form>
                <a href="{{pathFor route='forgotPassword'}}">Esqueci minha senha</a><br>
                <a href="{{pathFor route='register'}}" class="text-center">Registrar novo usuário</a>

            </div><!-- /.login-box-body -->
        </div><!-- /.login-box -->
    </body>
</template>
