<template name="truckEvents">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Eventos / Oportunidades
                <!--<small>Cadastro de Informações gerais</small>-->
            </h1>
        </section>

        <!-- Main content -->

        <section class="content">
            <div class="row">
                <div class="col-md-12 ">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Mapa de Eventos / Oportunidades</h3>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="form-group">
                                            <label>Selecione o período de consulta</label>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control pull-right" id="eventDate" value="">
                                            </div><!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="form-group">
                                            <label>Tipo de Evento</label>
                                            <select id="eventType" class="form-control select2" multiple="multiple"
                                                    data-placeholder="Selecione os tipos de evento que deseja filtrar"
                                                    style="width: 100%">
                                            </select>
                                        </div><!-- /.form-group -->
                                    </div>
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="form-group">
                                            <label>Filtro por Cidade</label>
                                            <select id="eventCity" class="form-control select2" multiple="multiple"
                                                    data-placeholder="Selecione as cidades que deseja filtrar"
                                                    style="width: 100%">
                                                {{#each eventCity}}
                                                <option value="{{this}}">{{this}}</option>
                                                {{/each}}
                                            </select>
                                        </div><!-- /.form-group -->
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary" id="queryEvent"><i class="fa fa-search"></i> Consultar Eventos</button>
                                <div class="mapEvents">
                                    {{> googleMap name="map" options=mapOptions}}
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!--/.col (left) -->
            </div>
        </section>

        <section class="content" style="margin-top: 0px">
            <div class="row">
            {{#if events}}
                {{#each events}}
                    {{> eventCard}}
                {{/each}}
                {{else}}
                <div class="col-sm-12">
                    <div class="box box-widget">
                        <div class="box-body">
                            <p style="text-align: center">Sem oportunidades a serem exibidas</p>
                        </div>
                    </div>
                </div>
            {{/if}}
            </div>
        </section>
    </div>
</template>

<template name="eventCard">
    <div class="col-md-6">
        <!-- Box Comment -->
        <div class="box box-widget">
            <div class='box-header with-border'>
                <div class='user-block'>
                    {{#if visibleToAll}}
                        <span class='username'>{{addedBy}}</span>
                        <span class='description'>{{city}} - criado em {{dateDay createdAt}}</span>
                    {{else}}
                        <img class="img-circle" src="/images/star.png" alt="Evento direcionado para seu truck">
                        <span class='username'>{{addedBy}}</span>
                        <span class='description'>{{city}} - criado em {{dateDay createdAt}}</span>
                    {{/if}}
                </div><!-- /.user-block -->
                <div class='box-tools'>
                    <!--<button class='btn btn-box-tool' data-widget='collapse'><i class='fa fa-minus'></i></button>-->
                    <!--<button class='btn btn-box-tool' data-widget='remove'><i class='fa fa-times'></i></button>-->
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class='box-body eventDescription'>
                <p><b>Tipo:</b> {{eventType}}</p>
                <p><b>Local:</b> {{address}}</p>
                <p><b>Data do evento:</b> {{dateDay dateStart}}</p>
                <p><b>Horário:</b> {{dateTime dateStart}} a {{dateTime dateEnd}}</p>
                <p><b>Descrição:</b> {{breaklines eventDescription}}</p>
                <h4>Contatos</h4>
                <p><b>Telefone:</b> {{contacts.phone}}</p>
                <p><b>Email:</b> {{contacts.email}}</p>
                <!--<img class="img-responsive pad" src="../dist/img/photo2.png" alt="Photo">-->
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</template>