<template name="lemeatSearch">
    <div class="container">
        <div class="col s12">
            <div style="margin-top:20px">
                {{> truckTags}}
            </div>
            <div class="row sectionTitle" style="margin-top: 20px">
                Busca por Food Trucks
                <span class="chip brown white-text">{{search}}</span>
            </div>
            <div class="row">
                {{#if searchResults}}
                    {{#each searchResults}}
                        {{> truckCard}}
                    {{/each}}
                    {{else}}
                    Não encontramos nenhum truck =(
                {{/if}}
            </div>
        </div>
    </div>
</template>