<template name="lemeatHome">
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center white-text text-darken-5">Agora ficou mais fácil encontrar seu Food Truck favorito!
                </h1>
                <div class="row center">
                    <h5 class="header col s12 light">Aqui no Lemeat você encontra os Food Trucks mais próximos de você, conhece novos e fica sabendo de todos os eventos que acontecem por aí</h5>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img src="images/lemeat-landing-bg4-low.jpg"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <div class="center">
                        <img class="center" src="/images/trucker_icon.png">
                    </div>
                    <div class="center" style="font-size: 22px">Para o Trucker</div>
                    <p class="light">
                        Criamos um espaço especial para que você possa divulgar sua agenda, suas informações
                        e receber oportunidades de eventos, festas, casamentos e muito mais.
                        Cadastre-se no lemeat for Truckers <a href="/register" target="_blank">aqui</a> e faça parte desta comunidade.
                        Lembrando que é de graça!
                    </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <div class="center">
                        <img class="center" src="/images/user_icon.png">
                    </div>
                    <div class="center" style="font-size: 22px">Encontre facilmente os Food Trucks</div>
                    <p class="light">
                        Aqui você encontra todos os Food Trucks mais próximos de você, em uma lista organizada e simples.
                        Você fica sabendo da agenda atualizada e pode procurar Food Trucks por categoria
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <div class="center">
                        <img class="center" src="/images/store_icon.png">
                    </div>
                    <div class="center" style="font-size: 22px">Precisa de um Food Truck em seu evento?</div>
                    <p class="light">
                        Pelo Lemeat você pode enviar oportunidades e requisitar algum truck diretamente pela nossa plataforma.
                        Basta escolher o Food Truck e enviar sua proposta.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="titleSectionHome">Buscar por Food Truck</div>
            {{> truckTags}}
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="titleSectionHome">Conheça alguns de nossos Food Trucks</div>
            <!--   Food Truck Card Section   -->
            <div class="row">
                {{#each cardInfoOrderedByDistance}}
                    {{> truckCard}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="titleSectionHome">Mapa dos trucks</div>
            <div class="row">
                <div class="truckAgendaMap">
                    {{> googleMap name="map" options= mapOptions}}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="titleSectionHome">Enviar Oportunidades</div>
            {{> eventForm}}
        </div>
    </div>
</template>

<template name="eventForm">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="name" type="text" class="validate">
                    <label for="name">Nome</label>
                </div>
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" class="validate">
                    <label for="email">E-mail</label>
                </div>
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">phone</i>
                    <input id="phone" type="text" class="validate">
                    <label for="phone">Telefone de Contato</label>
                </div>
                <div class="input-field col s12 l6">
                    <select id="eventType">
                        <option value="" disabled selected>Escolha o tipo de Oportunidade</option>
                            {{#each eventTypes}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                    </select>
                    <label>Tipo de Oportunidade</label>
                </div>
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">today</i>
                    <input id="eventDate" type="date" class="datepicker">
                    <label for="date">Data do evento</label>
                </div>
                <div class="input-field col s6 l3">
                    <i class="material-icons prefix">schedule</i>
                    <input placeholder="Horário de Início" id="eventTimeStart" type="time">
                    <label for="time" class="active">Horário de Início</label>
                </div>
                <div class="input-field col s6 l3">
                    <i class="material-icons prefix">schedule</i>
                    <input placeholder="" id="eventTimeEnd" type="time">
                    <label for="time" class="active">Horário de Fim</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">store</i>
                    <input id="eventAddress" type="text" class="validate">
                    <label for="address">Endereço do evento</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">store</i>
                    <input id="eventCity" type="text" class="validate">
                    <label for="address">Cidade do Evento</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="eventDescription" class="materialize-textarea"></textarea>
                    <label for="textarea">Descrição da Oportunidade</label>
                </div>
                <div class="right-align">
                    <button class="btn waves-effect waves-light brown" type="submit" name="action" id="eventSubmit">Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function() {
            $('select').material_select();
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });
        });
    </script>
</template>

<template name="truckCard">
    <div class="col s12 m6 l4">
        <div class="card small hoverable">
            <div class="card-image">
                <img src="{{img}}">
                <span class="card-title">{{name}}</span>
                <span class="card-subtitle">{{speciality}}</span>
                {{#if userDistance}}
                    <span class="truckDistance">{{truncateDistance userDistance}} km</span>
                {{/if}}
                {{#if dateStart}}
                    <span class="agendaDate">{{relativeTime dateStart}}</span>
                {{/if}}
            </div>
            <div class="card-content">
                <p>{{description}}</p>
            </div>
            <div class="card-action" id="{{addedBy}}">
                <a href="/truckProfile/{{addedBy}}">Mais detalhes</a>
            </div>
        </div>
    </div>
</template>

<template name="truckTags">
    <div class="row">
        <div class="col s12 l1">
            <p>Cidades</p>
        </div>
        <div class="col s12 l11">
            {{#each allCities}}
                {{#if this}}
                    <a href="/city/{{this}}"><div class="chip">{{this}}</div></a>
                {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col s12 l1">
            <p>Tags</p>
        </div>
        <div class="col s12 l11">
            {{#each allTags}}
                <a href="/tags/{{this}}"><div class="chip">{{this}}</div></a>
            {{/each}}
        </div>
    </div>
</template>