<template name="siteLayout">
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    </head>
    <body>
    <nav class="white brown-text" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/home" class="brand-logo">
                <img src="/images/lemeat-logo-small-primarycolor.png" style="width:60%;height: 60%">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a target="_blank" href="{{pathFor route='login'}}">Login para Food Truck</a></li>
                <li><a target="_blank" href="{{pathFor route='register'}}">Cadastrar Food Truck</a></li>
                <!--<li><a href="#">Trucks próximos</a></li>-->

            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a target="_blank" href="{{pathFor route='login'}}">Login para Food Truck</a></li>
                <li><a target="_blank" href="{{pathFor route='register'}}">Cadastrar Food Truck</a></li>
                <!--<li><a href="#">Trucks próximos</a></li>-->
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <!-- Content Wrapper. Contains page content -->
    {{> yield}}
    <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 150px; right: 24px;">
        <a class="btn-floating btn-large brown">
            <i class="large material-icons">search</i>
        </a>
        <ul>
            <li>
                <div class="card-panel truckSearchPanel" id="searchPanel">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="lemeatSearch"
                                   type="text"
                                   placeholder="" data-limit="4">
                            <label class="active">Buscar Truck, Tags ou Cidades</label>
                        </div>
                    </div>
                </div>
            </li>
            <!--<li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>-->
        </ul>
    </div>
    <footer class="page-footer brown">
        <div class="container">
            <div class="row">
                <!--<div class="col l6 s12">-->
                    <!--<h5 class="white-text">Company Bio</h5>-->
                    <!--<p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>-->
                <!--</div>-->
                <div class="col l4 m6 s12">
                    <ul>
                        <li><a class="white-text" target="_blank" href="{{pathFor route='login'}}">LOGIN PARA FOOD TRUCKS</a></li>
                        <li><a class="white-text" target="_blank" href="{{pathFor route='register'}}">CADASTRAR FOOD TRUCK</a></li>
                        <!--<li><a class="white-text" href="/nearestTrucks">FOOD TRUCKS MAIS PRÓXIMOS</a></li>-->
                    </ul>
                </div>
                <div class="col l4 m6 s12" style="margin-top: 20px">
                    <div class="row">
                        <div class="col s2"><a href="https://www.facebook.com/lemeatbr/"><i class="fa fa-facebook fa-2x" style="color: white"></i></a></div>
                        <div class="col s2"><a href="https://www.instagram.com/lemeat_br/"><i class="fa fa-instagram fa-2x" style="color: white"></i></a></div>
                    </div>
                    <div><a href="mailto:contato@lemeat.com" target="_top" style="color: white">CONTATO@LEMEAT.COM</a></div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Lemeat 2016<a class="brown-text text-lighten-3"> - Todos os direitos reservados</a>
            </div>
        </div>
    </footer>
    </body>
</template>
