nav ul a,
nav .brand-logo {
    color: #795548 !important;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #795548;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.truckSearchPanel{
    width: 300px;
    margin: 0px !important;
}

.fixed-action-btn.horizontal ul li{
    margin: 0px !important;
}

/*Card templating*/

.card-title {
    color: #fff;
    position: absolute;
    bottom: 18px !important;
    padding: 0px 0px 0px 10px !important;
    width: 100% !important;
    opacity: 0.8 !important;
    background-color: #795548 !important;
}

.card-subtitle{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100% !important;
    opacity: 0.8 !important;
    background-color: #795548 !important;
    padding: 0px 0px 0px 13px;
    font-size: 12px;
    font-weight: 200;
}

.card-content{
    padding: 10px !important;
}

#searchPanel{
    height: 195px;
}