<template name="truckProfile">
    <div class="container" style="margin-top:20px">
        <div class="row">
            <div class="col s12 l8">
                    <div class="slider">
                        <ul class="slides">
                            {{#each truckImages}}
                                <li>
                                    <img src="{{this.url}}">
                                </li>
                            {{/each}}
                        </ul>
                    </div>
            </div>
            <div class="col s12 l4">
                {{#if truckProfile}}
                    <div class="row">
                        <h5>{{truckProfile.name}}</h5>
                        <p>{{truckProfile.speciality}}</p>
                    </div>
                    <p>{{truckProfile.description}}</p>
                {{else}}
                    Loading...
                {{/if}}
            </div>
        </div>
    </div>
</template>