<template name="truckProfile">
    <div class="container" style="margin-top:20px">
        <div class="row">
            <div class="col s12 l8">
                <div class="slider">
                    <ul class="slides">
                        {{#each truckImages}}
                        <li>
                            <img src="{{this.url store='thumbnail'}}">
                            <div class="caption center-align">
                                <h3>This is our big Tagline!</h3>
                                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="row">
                    <h5>{{truckProfile.name}}</h5>
                    <p>{{truckProfile.speciality}}</p>
                </div>
                <p>{{truckProfile.description}}</p>
            </div>
        </div>
    </div>
</template>